In [87]:
import numpy as np
import pandas as pd

In [88]:

df=pd.read_csv("ford.csv")
df.head()

     model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   Fiesta  2017  12000    Automatic    15944   Petrol  150  57.7         1.0
1    Focus  2018  14000       Manual     9083   Petrol  150  57.7         1.0
2    Focus  2017  13000       Manual    12456   Petrol  150  57.7         1.0
3   Fiesta  2019  17500       Manual    10460   Petrol  145  40.3         1.5
4   Fiesta  2019  16500    Automatic     1482   Petrol  145  48.7         1.0

In [89]:
df

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,Fiesta,2017,12000,Automatic,15944,Petrol,150,57.7,1.0
1,Focus,2018,14000,Manual,9083,Petrol,150,57.7,1.0
2,Focus,2017,13000,Manual,12456,Petrol,150,57.7,1.0
3,Fiesta,2019,17500,Manual,10460,Petrol,145,40.3,1.5
4,Fiesta,2019,16500,Automatic,1482,Petrol,145,48.7,1.0
...,...,...,...,...,...,...,...,...,...
17961,B-MAX,2017,8999,Manual,16700,Petrol,150,47.1,1.4
17962,B-MAX,2014,7499,Manual,40700,Petrol,30,57.7,1.0
17963,Focus,2015,9999,Manual,7010,Diesel,20,67.3,1.6
17964,KA,2018,8299,Manual,5007,Petrol,145,57.7,1.2
17965,Focus,2015,8299,Manual,5007,Petrol,22,57.7,1.0

In [90]:
df.fuelType.replace(regex={"Petrol":"1","Diesel":"2"},inplace=True)
df.transmission.replace(regex={"Manual":"0","Automatic":"1"},inplace=True)

In [91]:
df

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,Fiesta,2017,12000,1,15944,1,150,57.7,1.0
1,Focus,2018,14000,0,9083,1,150,57.7,1.0
2,Focus,2017,13000,0,12456,1,150,57.7,1.0
3,Fiesta,2019,17500,0,10460,1,145,40.3,1.5
4,Fiesta,2019,16500,1,1482,1,145,48.7,1.0
...,...,...,...,...,...,...,...,...,...
17961,B-MAX,2017,8999,0,16700,1,150,47.1,1.4
17962,B-MAX,2014,7499,0,40700,1,30,57.7,1.0
17963,Focus,2015,9999,0,7010,2,20,67.3,1.6
17964,KA,2018,8299,0,5007,1,145,57.7,1.2
17965,Focus,2015,8299,0,5007,1,22,57.7,1.0

In [92]:
df.isna().any()

model           False
year            False
price           False
transmission    False
mileage         False
fuelType        False
tax             False
mpg             False
engineSize      False
dtype: bool

In [93]:
df.drop("model",axis=1,inplace=True)

In [94]:
y=df['price']
x=df.drop(["price"],axis=1,inplace=True)

In [95]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [96]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_test = scaler.fit_transform(X_test)
X_train = scaler.fit_transform(X_train)

In [97]:

from sklearn.ensemble import RandomForestRegressor

In [98]:
rf = RandomForestRegressor(n_estimators=100)
rf.fit(X_train, y_train.ravel())

RandomForestRegressor()

In [99]:


from sklearn.model_selection import cross_val_score
accuraciesrf = cross_val_score(estimator=rf, X= X_train, y=y_train.ravel(), cv=10)
print(f"Random Forest Accuracy : {accuraciesrf.mean()*100}")

Random Forest Accuracy : 85.58137164515665